.popup {
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  display: flex;
  background-color: black;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.popup-cont {
  width: 90%;
  height: 98%;
  background-color: white;
  z-index: 5;
  border: 2px black solid;
  position: absolute;
  display: flex;
  .popup-img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
      height: 80%;
    }
  }
  .popup-order {
    width: 85%;
    height: 100%;
    background-color: #14c1de;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .popup-hed {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: space-between;
      .popup-text {
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        //  border: 1px green solid;
        padding: 0;
        margin: 0 80px;
      }
      h2 {
        margin: 18px 0;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 120%;
        color: #000000;
      }
      span {
        color: white;
      }
      p {
        margin-top: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 120%;
        color: #000000;
      }
    }
  }
}
.popup-close {
  width: 15%;
  height: 39%;
  // border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  font-weight: 400;
  cursor: pointer;
}
.form1-div {
  width: 80%;
  height: 70%;
  display: flex;
  margin-top: 30px;

  align-content: flex-start;
  //border: 1px red solid;
  justify-content: flex-start;
  flex-direction: column;

  label {
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    font-size: medium;
  }
}
.line21 {
  width: 100%;
  display: flex;
  label {
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    font-size: medium;
  }
}
.line12 {
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    font-size: medium;
  }
}

.button-send1 {
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  width: 200px;
  height: 40px;
  border-style: none;
  background: #000000;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  position: relative;
  left: 100px;

  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
}
#phone1 {
  width: 160px;
  height: 35px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
}
#email1 {
  width: 400px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}
#name1 {
  width: 400px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}
#city1 {
  width: 220px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}
.form-input1 {
  border: none;
  background-color: #f3f3fe;
  border-radius: 5px;
  padding-left: 10px;

  &::placeholder {
    color: #6d728b;
    font-size: medium;
  }
}
.b-div {
  width: 100%;
  height: auto;
  display: flex;
}
.book-input1 {
  width: 400px;
  height: 35px;
  border: none;
  background-color: #f3f3fe;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6d728b;
  font-size: small;
  outline: none;
}
